header {
  background: red;
  height: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.title {
  color: white;
  text-align: center;
  font-size: 24px;
  font-weight: 600;
}
.header-container {
  height: 50px;
}
